{{!< default}}

<main id="post-page" class="page-wrap" role="main">
    {{! Everything inside the #post tags pulls data from the post }}
    <article class="{{post_class}}">
    {{#post}}
         {{#contentFor "metaTags"}} 
            <meta property="article:author" content="{{author.name}}">
        {{/contentFor}}

        <div>    
            <header class="post-header">
                {{#if image}}
                	<img src="{{image}}" alt="{{{title}}}" />
                {{/if}}
                
                <h2 class="post-title">
                    <a href="{{url}}"><span>{{{title}}}</span></a>
                </h2>
            </header>

            <section class="post-content">
                {{content}}
            </section>

            <section class="post-comments">
                <div class="ds-thread" data-thread-key="{{url}}" data-title="{{{title}}}" data-url="{{url}}"></div>
            </section>
        </div>

        <aside class="post-meta">
            <time datetime="{{date format='YYYY-MM-DD'}}">
                {{date format="MMM DD"}}
                <span>{{date format="YYYY"}}</span>
            </time> 

            <dl>
                <dt class="item-author"></dt>
                <dd>{{author}}</dd>
               
                {{#if tags}}
                <dt class="item-tags">标签:</dt>
                <dd>
                    <ul>
                      {{#foreach tags}}
                        <li><a href="{{url}}">{{name}}</a>{{#if @last}} {{else}}, {{/if}}</li>
                      {{/foreach}}
                    </ul>
                </dd>
                {{/if}}
            </dl>
        </aside>

        {{> gototop }}

    {{/post}}
    </article>
</main>

<script type="text/javascript">
    var duoshuoQuery = {short_name:"laispace"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>